<div class="body">
  <div>
    <span>Project ID : </span>
    <input type="text" [(ngModel)]="project_id">
  </div>

  <div>
    <span>Branch ID : </span>
    <input type="text" [(ngModel)]="branch_id">
  </div>

  <div>
    <input type="checkbox" [(ngModel)]="isChecked">
    <span> : Is for repeat set combo</span>
  </div>

  <button class="submitButton" (click)="getData()">Submit</button>
  <br><hr><br>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item" *ngFor="let item of data?.details;let i=index">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseOne'+i"
          aria-expanded="true" [attr.aria-controls]="'collapseOne'+i">
          <div>{{item?.mst_cat_name}}</div>
          <div class="required" *ngIf="item?.is_required">{{item?.is_required ? "required":''}}</div>
        </button>
      </h2>
      <div [id]="'collapseOne'" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample" *ngFor="let product of item?.product_details">
        <div class="accordion-body" style="border: 1px solid black;">
          <div>{{product?.mst_product_name}}</div>
          <div><input class="checkbox" type="checkbox"></div>
        </div>
      </div>
    </div>

  </div>

</div>
